html {
   background-image: url(/img/Elacatinus_sp_on_brain_coral.jpg);
   background-size: 50%;
   height: 100%;
   background-attachment: fixed;
   background-position: left center;
   background-repeat: no-repeat;
 }

body{
   color: black;
   position: relative;
   float:right;
   top: 0px;
   width: 50%;
}

@media screen and (max-width: 480px) {
    html {
     background-image: url(/img/Elacatinus_sp_on_brain_coral.jpg);
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
    }
    body {
     color: black;
     position: relative;
     left: 0; 
     width: 100%; 
     background: rgba(211, 211, 211, .8);
  }
}